@model IEnumerable<ElevenMovie.Models.GenreListItem>

@{
    ViewBag.Title = "Index";
}
<body style="background-color:lightgrey">


    <h2>Index</h2>

    <p>
        @Html.ActionLink("Add Genre", "Create")
    </p>

    @if (TempData.ContainsKey("SaveResult"))
    {
        <div class="alert alert-success fade in" role="alert">
            @ViewBag.SaveResult
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
            @TempData["SaveResult"]
        </div>
    }

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenreType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsStarred)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GenreType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsStarred, new { Id = item.GenreId })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.GenreId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.GenreId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.GenreId })
                </td>
            </tr>
        }

    </table>
</body>

    @section scripts {
        <script language="javascript" type="text/javascript">
            $(document).ready(function () {
                $("i[data-toggle='star']")
                    .css({ "cursor": "pointer" })
                    .click(function (e) {
                        var target = $(e.target);
                        var genreId = target.attr("data-id");
                        var starSet = target.hasClass("glyphicon-star");

                        $.ajax({
                            method: starSet ? "DELETE" : "PUT",
                            url: "/api/genre/" + genreId + "/star",
                            data: null
                        })
                            .done(function (r) {
                                target.removeClass();
                                target.addClass("glyphicon " + (starSet ? "glyphicon-star-empty" : "glyphicon-star"));
                            })
                            .fail(function (r) {
                                alert("Failed to change star status");
                            });
                    });
            });
        </script>
    }
